




body { 
	font-family: tahoma, arial, sans-serif;
	margin: 0px;
	padding: 0px;

 }


#principal {

width: 1024px;
margin: 20px auto;


}

.header-top { 

background-color:#162028;
height: 44px;
position: relative;

 }

.logotipo { 

margin: 5px 0 0 135px;

 }

.header-nav { 

	position: absolute;
	right: 0;
	top: 0;
	height: 100%;

 }




.wallpaper { 

width:1024px;
 }

h1 { 

	font-size: 36px;
	color: #252525;
	
 }



nav { 

	font-size: 14px;

 }



ul { 

margin-right: 20px;
text-align: right;

 }
.header-nav a { 

transition: color .4s linear;
color: grey;
text-decoration: none;
 }

a:hover { 

color: white;

 }

li { 

	list-style: none;

	display: inline-block;
	
	margin-left: 20px;
	
	letter-spacing: 4px;
	text-transform: uppercase;
 	
 }

.portfolio { 

	padding: 50px 100px;
	text-align: center;

 }

.portfolio p { 

	font-size: 16px;
	line-height: 2;
	color: #555;

 }

.gallery { 

	margin-top:px;
	color: #555;
	
	overflow: auto;


 }

.gallery-card { 

	margin-top: 10px;
	width: 32%;
	float: left;
	text-align: center;

 }

.gallery-title { 

	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 16px;
	font-weight: bold;

 }

 .gallery-text { 

	margin-top: -15px;
	  }

.about { 

	margin-top: 30px;
	background: #003d52;
	padding: 100px;
	color: white;
	background-image: url(bg_detalhe.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	



 }

 .about h2 { 

	text-transform: uppercase;
	font-size: 50px;
	font-weight: normal;
  }

.about p { 

	color: white; 
	line-height: 1.5;
	width: 70%;

}


#contact {

margin: 50px 0;


}

#contact address { 

color: #143f52;
text-transform: uppercase; 
font-style: normal;
font-size: 26px;
text-align: center;
font-weight: bold;
 }

.maps { 

width: 100%;
height: 450px;
margin-top: 15px; 
text-align: center;
}

.maps iframe { 

width: 100%; 

}

.rodape { 

	padding: 22px;
	background-color:black;
	color: #778899;
	
	font-size: 14px;
	letter-spacing: 4px;	 
	text-align: center;
 }

	

 